<div class="container-fluid">
    <div class="r1  row">
        <div class="col-2">
            <img class="ff" src="assets/logo.png">
        </div>
        <div class="col-10">
            <button type="button" class=" b2 btn">Aboutus</button>
            <button type="button" class=" b2 btn">Gallery</button>
            <button type="button" class=" b2 btn">Relationships</button>
            <button type="button" class=" b2 btn">contactus</button>

        </div>
    </div>
    <div class="r2 row mt-3">
        <div class="col-2">
            <button type="button" class="btn b1">Restaurant</button>
        </div>
        <div class="col-2">
            <button type="button" class=" b1 btn">Bunkethalls</button>
        </div>
        <div class="col-2">
            <button type="button" class=" b1 btn">bufts</button>
        </div>
        <div class="col-2">
            <button type="button" class="b1 btn">Event</button>
        </div>
        <div class="col-2">
            <button type="button" class=" b1 btn">Awards</button>

        </div>
        <div class="col-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search"
                    aria-label="Search" aria-describedby="basic-addon2">
                <span class="input-group-text as" id="basic-addon2"><i class="bi bi-search"></i></span>
            </div>
        </div>
    </div>

</div>