<div class="container-fluid fr1">
    <div class="row "> 
        <div class="col-4">
            <p class="fp1">Food Mahal pvt.ltd.AllRight Received </p>
        </div>
        <div class="col-4">
            <p class="fp2"><sup>FoodMahal</sup></p>
             </div>
        <div class="col-4">
            <p class="fp1">GSTins of FoodMahal</p>
        </div>


        </div>
        <div class="row">
            <div class="col-6">
                <label class="fp3">Email:<span>foodmahal@gmail.com</span></label>
            </div>
            <div class="col-6">
                <p class="fp4">Address</p>
                <p class="fp4">FoodMahal</p>
                <p class="fp4">Near Geethabavan</p>
                <p class="fp4">Karimnagar</p>
                <p class="fp4">505001</p>



            </div>
        </div>
    </div>

