<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/photos/image1.jpeg" class="d-block w-100 i1" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/photos/img4.avif" class="d-block w-100 i1" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/photos/img5.avif" class="d-block w-100 i1" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/photos/11.jpeg" class="d-block w-100 i1" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
