<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleSlidesOnly car1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active content">
                    <img src="assets/photos/image1.jpeg" class="d-block w-100 i1" alt="...">
                  </div>
                  <div class="carousel-item content">
                    <img src="assets/photos/img4.avif" class="d-block w-100 i1" alt="...">
                  </div>
                  <div class="carousel-item content">
                    <img src="assets/photos/img5.avif" class="d-block w-100 i1" alt="...">
                  </div>
                  <div class="carousel-item content">
                    <img src="assets/photos/11.jpeg" class="d-block w-100 i1" alt="...">
                  </div>
                </div>
                <div class="">
                  <button type="button" class="btn sb1">Location</button>
                  <input type="text" name="" class=" " id="si1" placeholder="Deliveries only  through SWIGGY ZOMATO">
                  <label class="l1">Timeings:<span>7:00am to 11:pm</span></label>
                </div>
              </div>
              
            </div>
            </div>
    

